%h1= current_page.title

= content :headline
!= content :body

- content(:image_collection).each do |image|
  - variant_key = ActiveStorage::Variation.encode(resize: '200x200')
  - path = main_app.rails_blob_representation_path(image.signed_blob_id, variant_key, "image.png")
  %br/
  %br/
  = image_tag path, width: 100