.bundle/
log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/.sass-cache
.DS_Store
test/dummy/public/uploads/*
test/dummy/app/assets/fonts/
# Ignore application configuration
test/dummy/config/application.yml
coverage/*
*.gemfile.lock
test/dummy/storage/*
.idea/*
