env:
  global:
    - CC_TEST_REPORTER_ID=07411cbad687d8541613a5e38ba058efd456c4d3717353b99adbce10fe7e596a

language: ruby

addons:
  postgresql: '9.6'

before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
  - bundle exec rails db:setup

after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT

notifications:
  slack: spinacms:pEcHb40Gd0UWHWdooU2JG6OZ