.horizontal-form-label
  = f.object.title
.horizontal-form-content
  = f.fields_for :page_partable, f.object.page_partable do |ff|
    = render 'spina/admin/shared/rich_text_field', f: ff, field: :content
