<div class="grid grid-cols-1 md:grid-cols-3 gap-3 md:gap-12">
  <div class="col-span-1">
    <label class="font-medium block">
      <%= label %>
    </label>
    <div class="text-gray-600 text-sm">
      <%= description %>
    </div>
  </div>

  <div class="col-span-2">
    <%= content %>
  </div>
</div>