<div class="flex items-center relative">
  <div class="absolute left-2">
    <%= helpers.heroicon('search', style: :solid, class: 'text-gray-300 w-5 h-5') %>
  </div>

  <%= f.search_field @method, 
    value: params[@method.to_sym],
    placeholder: t("spina.search"),
    class: "form-input rounded-full pl-8 text-sm h-9 w-full",
    data: {action: "input->form#requestSubmit"}
  %>
</div>
