- if Spina.config.locales.size > 1
  #languages
    - array = Spina.config.locales.select{|l| l != I18n.default_locale}.map{|l| link_to_unless(l == I18n.locale, l.upcase, "/#{l}#{root_path}")}
    - array << link_to_unless(I18n.default_locale == I18n.locale, I18n.default_locale.upcase, root_path)
    = array.join(' / ').html_safe