-# %fieldset
-#   %div{style: 'float: left; min-width: 400px;'}
-#     = f.file_field :file, data: { customfile: true, placeholder: (f.object.new_record? ? "Nog geen bestand geselecteerd" : f.object.name) }    
-#     %br
-#   = link_to "", '#', class: 'remove_field button button-link', data: {icon: 'x'}
-#   = f.hidden_field :_destroy
-#   %br
-#   