<%= render Spina::Pages::TabButtonComponent.new(tab_name: 'search_engines') do |button| %>
  <% button.label do %>
    <%= heroicon('search', style: :solid, class: 'w-4 h-4 mr-1 -ml-1 opacity-75') %>
    <span class="hidden md:inline"><%= t("spina.pages.search_engines") %></span>
    <span class="md:hidden">SEO</span>
  <% end %>
<% end %>
