%li.dd-item{data: {id: page_nested_list.id}}
  .dd-item-inner
    = render partial: 'page', object: page_nested_list

  - if page_nested_list.children.active.regular_pages.any?
    %ol.dd-list
      = render partial: 'page_nested_list', collection: page_nested_list.children.active.sorted.regular_pages