- content_for(:tertiary_navigation) do
  %nav.tabs
    %ul
      - @tabs.each_with_index do |tab, i|
        %li{class: (i==0 ? 'active' : '')}
          = link_to t("spina.pages.#{tab}"), "##{tab}"

= render 'form'
