- content_for(:tertiary_navigation) do
  %nav.tabs
    %ul
      %li.active
        = link_to t('spina.pages.page_content'), "#page_content"
      %li
        = link_to t('spina.pages.page_seo'), "#page_seo"
      %li
        = link_to t('spina.pages.advanced'), "#advanced"

= render 'form'
