$.rails.allowAction = (element) ->

  message = element.data('confirm')
  return true unless message

  $link = element.clone().removeAttr('data-confirm').removeAttr('data-icon').removeAttr('class')
  $link.addClass('primary')
  $link.html("<i class='icon icon-check'></i> <%= I18n.t('spina.modal.agree') %>")

  modal_html = """
              <div id="modal" class="modal"><header class="big-header">
                <a href="#" class="close_modal" data-dismiss="modal"><i class="icon icon-cross"></i></a>
                <h3>#{message}</h3>
              </header>

              <footer>
                <a href="#" data-dismiss="modal"><%= I18n.t('spina.modal.cancel') %></a>
              </footer></div>
               """

  $(modal_html).modal()
  $('#modal footer').append($link)

  return false