// Metropolis

@font-face
  font-family: "Metropolis"
  font-style: normal
  font-weight: normal
  src: url(asset-path("spina/Metropolis-Regular.woff2")) format('woff2')

@font-face
  font-family: "Metropolis"
  font-style: normal
  font-weight: 500
  src: url(asset-path("spina/Metropolis-Medium.woff2")) format('woff2')

@font-face
  font-family: "Metropolis"
  font-style: normal
  font-weight: 600
  src: url(asset-path("spina/Metropolis-SemiBold.woff2")) format('woff2')

@font-face
  font-family: "Metropolis"
  font-style: normal
  font-weight: 700
  src: url(asset-path("spina/Metropolis-Bold.woff2")) format('woff2')

@font-face
  font-family: "Metropolis"
  font-style: italic
  font-weight: normal
  src: url(asset-path("spina/Metropolis-RegularItalic.woff2")) format('woff2')

// Icons

@font-face
  font-family: "ics_spina"
  font-style: normal
  font-weight: normal
  src: url(asset-path('spina/ics_spina.woff')) format('woff')

.icon
  display: inline-block
  vertical-align: middle
  font-size: inherit
  line-height: inherit // NOTE: should be 1
  font-family: "ics_spina" !important
  font-style: normal !important
  font-variant: normal !important
  font-weight: normal !important
  text-transform: none !important
  speak: none
  text-rendering: auto
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
