// 
// Icon Font: ics_spina
// 

.icon-barchart:before { content: "\f100"; }
.icon-bars:before { content: "\f101"; }
.icon-bold:before { content: "\f102"; }
.icon-brush:before { content: "\f103"; }
.icon-camera:before { content: "\f104"; }
.icon-caret-down:before { content: "\f105"; }
.icon-caret-left:before { content: "\f106"; }
.icon-caret-right:before { content: "\f107"; }
.icon-caret-up:before { content: "\f108"; }
.icon-cart:before { content: "\f109"; }
.icon-chart-outline:before { content: "\f10a"; }
.icon-check:before { content: "\f10b"; }
.icon-chevron-down:before { content: "\f10c"; }
.icon-chevron-left:before { content: "\f10d"; }
.icon-chevron-right:before { content: "\f10e"; }
.icon-chevron-up:before { content: "\f10f"; }
.icon-code:before { content: "\f110"; }
.icon-cog:before { content: "\f111"; }
.icon-cog-outline:before { content: "\f112"; }
.icon-comment:before { content: "\f113"; }
.icon-cross:before { content: "\f114"; }
.icon-customer-outline:before { content: "\f115"; }
.icon-document:before { content: "\f116"; }
.icon-dots:before { content: "\f117"; }
.icon-exclamation:before { content: "\f118"; }
.icon-export:before { content: "\f139"; }
.icon-eye:before { content: "\f119"; }
.icon-filter:before { content: "\f11a"; }
.icon-home:before { content: "\f11b"; }
.icon-image:before { content: "\f11c"; }
.icon-inbox-outline:before { content: "\f11d"; }
.icon-info:before { content: "\f11e"; }
.icon-italic:before { content: "\f11f"; }
.icon-large-check:before { content: "\f120"; }
.icon-link:before { content: "\f121"; }
.icon-list-ul:before { content: "\f122"; }
.icon-lock:before { content: "\f138"; }
.icon-mail:before { content: "\f123"; }
.icon-mail-outline:before { content: "\f124"; }
.icon-media-library:before { content: "\f125"; }
.icon-megaphone:before { content: "\f126"; }
.icon-min:before { content: "\f127"; }
.icon-pages:before { content: "\f128"; }
.icon-pencil:before { content: "\f129"; }
.icon-pencil-outline:before { content: "\f12a"; }
.icon-picture-o:before { content: "\f12b"; }
.icon-plus:before { content: "\f12c"; }
.icon-power-off:before { content: "\f12d"; }
.icon-preview:before { content: "\f12e"; }
.icon-product-outline:before { content: "\f12f"; }
.icon-random:before { content: "\f130"; }
.icon-refresh:before { content: "\f131"; }
.icon-search:before { content: "\f132"; }
.icon-shop:before { content: "\f133"; }
.icon-social-outline:before { content: "\f134"; }
.icon-trash:before { content: "\f135"; }
.icon-upload-outline:before { content: "\f136"; }
.icon-users-outline:before { content: "\f137"; }