// Labels

.label
  background: #bbb
  border-radius: 3px
  color: #fff
  display: inline-block
  font-size: 10px
  font-weight: bold
  letter-spacing: 1px
  line-height: 10px
  padding: 8px 12px

  &.label-primary
    background: $primary-color

  &.label-error
    background: $error-color

  &.label-danger
    background: $danger-color

  &.label-info
    background: $info-color

  &.label-alert
    background: $alert-color

  &.label-success
    background: $success-color