// Notifications

aside#notifications
  bottom: 50px
  padding: 16px
  position: fixed
  left: 0
  z-index: 100

.notification
  animation-duration: .4s
  align-items: center
  background: rgba(0, 0, 0, .3)
  backdrop-filter: blur(3px)
  -webkit-backdrop-filter: blur(3px)
  border-radius: 7px
  box-shadow: 3px 6px 3px rgba(0, 0, 0, .075)
  color: #fff
  display: flex
  font-size: 14px
  font-weight: 600
  line-height: 18px
  margin-top: 16px
  padding: 16px 0
  position: relative
  width: 290px

  .notification-message
    flex: 1
    overflow: hidden

  .icon
    text-align: center
    margin-left: 4px
    min-width: 40px
    width: 40px

  a
    color: white
    display: block
    font-size: 11px
    opacity: .2
    text-align: center
    transition: opacity .2s ease
    width: 50px

    &:hover
      color: white
      opacity: .4

  strong
    font-weight: 600

  small
    display: block
    font-size: 13px
    font-weight: normal
    line-height: 20px
    opacity: .6

  &.notification-error
    // background: $error-color

  &.notification-danger
    // background: $danger-color

  &.notification-success
    // background: $success-color
