section.photo-options
  background: $light-gray
  text-align: center
  button.save
    margin-top: 15px
  button.img-style
    width: 20%
    background-color: white
    margin: 0 10px
    margin-bottom: 15px
    transition: box-shadow 0.3s ease
    &:hover
      background-color: lighten($light-gray, 10%)
    &[data-active='true']
      box-shadow: inset 0 0 0 5px $success-color
    &:focus
      outline: none
    img
      width: 100%
      height: auto
