<div class="">
  <label class="block text-sm leading-5 font-medium text-gray-700"><%= f.object.title %></label>
  <div class="text-gray-400 text-sm"><%= f.object.hint %></div>
  <div class="mt-1">
    <%= f.text_field :content, class: "form-input block w-full max-w-5xl sm:text-sm sm:leading-5" %>
  </div>
</div>