<div class="<%= theme %> p-2 px-4 rounded-full font-medium text-white mb-5 animate__animated animate__fadeOut animate__delay-2s" data-controller="<%= 'confetti' if confetti? %>">
  <%= @message %>
</div>