<turbo-frame id="modal">
  <div class="modal max-h-screen p-2 sm:p-6" data-controller="modal" data-action="keyup@document->modal#escClose">
    <button type="button" class="cursor-default w-full h-full fixed inset-0 bg-gray-700 bg-opacity-25 animate__animated animate__fadeIn animate__faster" tabindex="-1" data-action="modal#close"></button>
    
    <div class="modal-window <%= @size %> animate__animated animate__fadeInDown animate__faster">
      
      <%= content %>

    </div>
  </div>
</turbo-frame>