.horizontal-form-label
  = f.object.title
.horizontal-form-content
  = f.fields_for :page_partable, f.object.page_partable do |ff|
    .colorpicker
      = ff.text_field :content, placeholder: f.object.title
      .colorpicker-container
