- if current_account.facebook.present?
  = link_to "", current_account.facebook, class: 'facebook-button', data: {turbolinks: false}

- if current_account.twitter.present?
  = link_to "", current_account.twitter, class: 'twitter-button', data: {turbolinks: false}
