<div class="mt-6">
  <label for="content" class="block text-sm leading-5 font-medium text-gray-700"><%= f.object.title %></label>
  <div class="text-gray-400 text-sm"><%= f.object.hint %></div>
  <div class="mt-1">
    <%= f.text_area :content, placeholder: f.object.title, class: "form-input mt-1 w-full" %>
  </div>
</div>
