= form_tag spina.admin_sessions_path, id: "login_wrapper" do
  = text_field_tag :email, params[:email], placeholder: "emailadres"
  = password_field_tag :password, nil, placeholder: "wachtwoord"
  = button_tag "aanmelden", class: 'button button-primary', data: {icon: '3'}
