%label.media-picker-image
  - if params[:multiple]
    = check_box_tag :image_id, image.id, image.id.in?(selected_ids), data: {action: "media-picker#toggle", image_id: image.id, thumbnail_url: thumbnail_url(image)}
  - else
    = radio_button_tag :image_id, image.id, image.id.in?(selected_ids), data: {action: "media-picker#choose modal#close", image_id: image.id, thumbnail_url: thumbnail_url(image)}
  %span= image_tag thumbnail_url(image), width: 200, height: 150