<%= render Spina::Forms::LabelComponent.new(f, :url) %>
<%= render Spina::Forms::TextFieldComponent.new(f, :url, autofocus: true) %>

<div class="mt-3">
  <%= render Spina::Forms::LabelComponent.new(f, :label) %>
  <%= render Spina::Forms::TextFieldComponent.new(f, :label) %>
</div>