#modal.modal
  %header.big-header
    = link_to '#', class: 'close_modal', data: {dismiss: 'modal'} do
      %i.icon-only{data: {icon: 'm'}}

    %h3
      =t 'spina.photos.link'
      %strong= @photo.file.url

  %footer
    = link_to t('spina.close'), '#', data: {dismiss: 'modal'}, style: 'width: 100%'
