.item{class: ('selected' if @selected_photo == photo_single_picker)}
  = radio_button_tag :photo_id, photo_single_picker.id, photo_single_picker == @selected_photo
  = image_tag photo_single_picker.file.thumb.url, id: "photo_#{photo_single_picker.id}"
