.modal.modal-medium
  %header
    %h3
      Photo Options
  %section.photo-options{ data: { 'editor-id' => @editor_id,
                                  'image-id' => @image_id }}
    %button.img-style{ data: {option: 'normal', active: 'false' }}
      = image_tag 'spina/image_no_wrap.png'
    %button.img-style{ data: {option: 'wrapped', active: 'false' }}
      = image_tag 'spina/image_wrap.png'
    .input-group-inline
      %input.alt-tag
      %label Alt Text
    %button.button.button-primary.save{ data: { dismiss: 'modal' }}
      Save
