.gallery
  .item
    = form_for [spina, :admin, @photo], html: {multipart: true} do |f|
      = f.file_field :file, data: {customfileinput: true}

  .gallery-prepend-image
    = render partial: 'spina/admin/photos/photo', collection: @photos
