- content_for :application do
  %header#header
    #header_actions
      = yield(:header_actions)

    = render partial: 'spina/admin/shared/breadcrumbs'

  = yield

= render template: "layouts/spina/admin/admin"