- content_for(:application) do
  %header#header
    = render 'spina/admin/shared/breadcrumbs'

    #header_actions= yield(:header_actions)

  = content_for?(:settings) ? yield(:settings) : yield

= render template: 'layouts/spina/admin/application'
