= f.fields_for :structure_partable, f.object.structure_partable do |ff|
  = ff.label :value, f.object.title
  .select-dropdown
    = ff.select :value, f.object.options[:values].map{|o| [option_label(f.object, o), o]},
    prompt: true
