%aside#notifications
  - if flash[:notice]
    .notification{data: {icon: 'L'}}
      %p
        =t 'spina.notifications.information'
        %small= flash[:notice]

  - if content_for?(:notification_alert)
    = yield(:notification_alert)

  - else
    - if flash[:alert]
      .notification.notification-error{data: {icon: 'm'}}
        %p 
          =t 'spina.notifications.alert'
          %small= flash[:alert]