= link_to spina.photo_select_admin_photos_path(photo_form.object_name, selected_photo_id: (photo_form.object.structure_partable.id if photo_form.object.structure_partable.present?)), remote: true, class: "media_picker" do
  - if photo_form.object.structure_partable && photo_form.object.structure_partable.file.present?
    .placeholder.pull-right
      %span.button.button-small.button-round{data: {icon: 'U'}}=t 'spina.pages.photo_picker'
    .image
      = image_tag photo_form.object.structure_partable.file.thumb
  - else
    .placeholder
      %span.button.button-small.button-round{data: {icon: 'U'}}=t 'spina.pages.photo_picker'

  = photo_form.hidden_field :structure_partable_id
