.horizontal-form-label
  = f.object.title
.horizontal-form-content
  = f.fields_for :partable, f.object.partable do |ff|
    .select-dropdown
      = ff.label :value, f.object.title
      = ff.select :value, f.object.options[:values].map{|o| [option_label(f.object, o), o]}, prompt: true
