- pages = current_user.present? ? Spina::Page.active : Spina::Page.live
- menu = Spina::Pages::MenuPresenter.new(pages.in_menu.arrange(order: :position), self, @page)
- menu.list_class = 'nav'
- menu.list_item_css = 'nav-item'
= menu.to_html
