.item.image{class: ('selected' if image.id.to_s.try(:in?, params[:selected_ids].to_a)), data: {action: "click->gallery-select#select", image_id: image.id}}
  - unless defined?(simple) && simple
    .overlay
      = link_to admin_image_path(image), method: :delete, class: 'icon-only delete-photo-link', data: {confirm: t('spina.images.delete_confirmation')} do
        = t('spina.images.delete')
      %span.photo-name= truncate(image.name, length: 125)

  = image_tag main_app.url_for(image.variant(resize_to_fill: [300, 300]))
