<%= render Spina::UserInterface::HeaderComponent.new do |header| %>
  <% header.with_after_breadcrumbs do %>
    <% if current_spina_user.admin? %>
      <%= link_to spina.new_admin_user_path, class: 'btn btn-default h-8 px-2 ml-3' do %>
        <%= heroicon('plus', style: :mini, class: 'w-4 h-4') %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<div class="p-8">
  <div class="shadow-sm border border-gray-200 bg-white rounded-lg">
    <%= render partial: 'user', collection: @users %>
  </div>
</div>