%tr
  %td{style: 'width: 30px'}= check_box_tag 'navigation[page_ids][]', page.id, @navigation.page_ids.include?(page.id)
  %td{style: "font-weight: 600; padding-left: #{10 * page.depth}px"}= page.title

- if page.children.any?
  = render partial: 'page', collection: page.children.sorted