%li
  = check_box_tag 'navigation[page_ids][]', page.id, @navigation.page_ids.include?(page.id), id: dom_id(page)
  = label_tag dom_id(page), page.title

  - if page.children.any?
    %ul= render partial: 'page', collection: page.children.sorted