= structure_form.fields_for :page_partable do |form|

  = form.fields_for :structure_items do |structure_item_form|
    = render 'structure_item_fields', f: structure_item_form

  = link_to_add_fields form, :structure_items do
    %i{data: {icon: 't '}}
    =t 'spina.website.new_structure'