<div class="text-xl font-bold mb-3 text-gray-800">
  Your embed
  <div class="text-sm text-gray-500 font-normal">
    Descriptive text
  </div>
</div>

<!-- 
  Put your fields here using Spina's built-in ViewComponents:
  
  render Spina::Forms::LabelComponent.new(f, :url)
  render Spina::Forms::TextFieldComponent.new(f, :url, autofocus: true)
-->
