name: Ruby

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: ['3.4']
        
    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_DB: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        
    steps:
    - uses: actions/checkout@v4
    
    - name: Install libvips
      run: sudo apt-get install -y libvips
    
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{matrix.ruby-version}}
        bundler-cache: true

    - name: Create DB
      env:
        RAILS_ENV: test
      run: |
        cp test/dummy/config/database.yml.ci test/dummy/config/database.yml
        bin/rails db:setup
        
    - name: Compile assets
      env:
        RAILS_ENV: test
      run: bin/rails app:assets:precompile
    
    - name: Run tests
      run: bin/rails test test/*
