name: Ruby

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: ["3.4"]

    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_DB: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    - name: Create DB
      env:
        RAILS_ENV: test
      run: |
        cp test/dummy/config/database.yml.ci test/dummy/config/database.yml
        bin/rails db:setup

    - name: Compile assets
      env:
        RAILS_ENV: test
      run: cd test/dummy && bin/rails assets:precompile

    - name: Run tests
      run: bin/rails test test/*
