<!DOCTYPE html>
<html>
  <head>
    <title><%= current_spina_account.name %></title>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'default/shared/navigation' %>
    
    <%= yield %>
  </body>
</html>