.horizontal-form-label
  = f.object.title
.horizontal-form-content
  %em{style: 'line-height: 28px; color: #333'} Spina::Photo is deprecated. Please change this PagePart to Spina::Image using <span style="background: #f1f1f1; border-radius: 3px; padding: 2px 8px; white-space: nowrap">rails spina:photo_to_image</span>